.hidden{
	display:none !important;
}
.brand-link.navbar-light{
	color:#363636;
}
.sidebar-dark-warning .nav-sidebar>.nav-item>.nav-link.active, 
.sidebar-light-warning .nav-sidebar>.nav-item>.nav-link.active,
.nav-treeview>.nav-item>.nav-link.active, 
.nav-treeview>.nav-item>.nav-link.active:focus,
.nav-treeview>.nav-item>.nav-link.active:hover{
	color:#ba3644 !important;
}

.msg-popup{
	position:fixed;
	top:0;
	z-index:1050;
}
.toast{
	min-width:320px;
}

.bg-lite-green,
.navbar-lite-green,
.sidebar-dark-green .nav-sidebar>.nav-item>.nav-link.active, 
.sidebar-light-green .nav-sidebar>.nav-item>.nav-link.active,
.lite-green .nav-treeview>.nav-item>.nav-link.active{
	background:#55a003;
	color:#FFFFFF;
}
.lite-green .nav-treeview>.nav-item>.nav-link.active a,
.lite-green .nav-treeview>.nav-item>.nav-link.active p,
.lite-green .nav-treeview>.nav-item>.nav-link.active i{
	color:#FFFFFF;
}
.lite-green .nav-treeview>.nav-item>.nav-link.active:hover{
	background:#3e7700;
}

.profile{
	font-size:14px;
}
.profile .table th,
.profile .table td{
	padding:.50rem;
}
#accform,
#nomineeform,
#contactform,
#personalform,
#photoform{
	display:none;
}

/*----------------------------------------- Tree Structure --------------------------------------*/
#tree-loader{    
	position: absolute;
    top: -3%;
    left: 0%;
    background: #FFFFFF;
    height: 106%;
    width: 100%;
    padding-top: 15%;
	opacity:0.7;
}
.tree-table{
	min-width:500px;
}
.tree-table td{
	border:0;
	padding:0;
}
.branch{
	border-top:1px solid #000000 !important;
	border-left:1px solid #000000 !important;
	border-right:1px solid #000000 !important;
}
.member-img{
	border:0;
	height:70px;
	width:70px;
}

.treediv {
	text-align: center !important;
	vertical-align: middle !important;
	font-family: arial,helvetica !important;
	cursor: default !important;
	/*border: 2px solid #b5d9ea !important;*/
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	background-color: #ebf3f0 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#0f6b6f), to(#22525f)) !important;
	color: white !important;
	width: 90px !important;
}

	.treediv img {
		border-radius: 30px;
	}
/*.member-img.inactive{
	border:1.5px solid #DB2F31;
}
.member-img.b-purple{
	border:1.5px solid #605ca8;
}
.member-img.b-orange{
	border:1.5px solid #ff851b;
}
.member-img.b-primary{
	border:1.5px solid #3c8dbc;
}
.member-img.b-maroon{
	border:1.5px solid #D81B60;
}
.member-img.b-success{
	border:1.5px solid #48ED56;
}
.member-img.b-navy{
	border:1.5px solid #001F3F;
}*/
.tree-btn{
	font-size:12px;
	min-width:50px;
}
.open-branch{
	cursor:pointer;
	max-width:200px;
}
#tree-member-details{
	width: 300px;
    font-size: 14px;
   	border: 1px solid #dd4b39;
    color: #fff;
    background-color: #c73d2c;
    box-shadow: 1px 1px 5px #904941;
    padding: 10px;
}
#tree-member-details ul{
	list-style:none;
	padding:0 5px;
}
#tree-member-details ul li{
	padding:5px;
}
.rounded-circle{
	border-radius:50%;
}

.notice-board {
	border: 1px solid #e0dede;
	padding: 15px;
	margin-top: 10px;
}
.notice-board-header {
	border-bottom: dashed 1px;
	text-align: center;
	color: #28a745;
}
fieldset.scheduler-border {
	border: 1px groove #ddd !important;
	padding: 0 1.4em 1.4em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
	font-size: 1.2em !important;
	font-weight: bold !important;
	text-align: left !important;
	width: auto;
	padding: 0 10px;
	border-bottom: none;
}
/*----------------------------------------- Tree Structure --------------------------------------*/

@media (max-width: 767px){
	.msg-popup{
		width:100%;
	}	
}
@media (min-width: 768px) {
	.msg-popup{
		left:35%;
	}	
}
@media (min-width: 1200px) {
	.msg-popup{
		left:40%;
	}	
}